[submodule "nvims/AstroNvim"]
	path = nvims/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "nvims/nvimdots"]
	path = nvims/nvimdots
	url = https://github.com/ayamir/nvimdots
[submodule "shells/zsh/.zcomet"]
	path = shells/zsh/.zcomet
	url = https://github.com/agkozak/zcomet
